
.header_container{
    max-width: 1410px;
    background-color: rgb(135, 135, 220);

    display: flex;
    flex: 1;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    size: 30%;
     
}

.menu_items{
    display: flex;
    justify-content: space-around;
    flex: 1;
    height: 50px;
    align-items: flex-start;
    
}

a:link { 
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    color: red; 
}
    
@font-face {
    font-family: "ofont.ru_Bebas Neue";
   src: url(../fonts/ofont.ru_Bebas\ Neue.ttf);
}
    
*{
    font-family:"ofont.ru_Bebas Neue" ;
}